body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: rgb(235, 226, 225);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.head-container p:last-child{
    width: 600px;
    font-size: 17px;
}

.head-container p{
    font-size: 25px;
}

.head-container h1{
    color: #000000d7;
    font-size: 50px;
}

/* Header Styles */
header {
    background-color: #3498db;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* Navigation Styles */
nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

.profile-head{
    display: flex;
    justify-content:space-evenly
}

.profile-pic{
        border-radius: 50%;
        width: 290px; 
        height: 290px;      
}

section {
    margin: 30px 0;
}

section h2 {
    color: #3498db;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.project-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #fff;
    transition: box-shadow 0.3s ease-in-out;
}

.project-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.project-card h3 {
    color: #3498db;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #2980b9;
}

@media screen and (max-width: 600px) {
    nav {
        text-align: center;
    }

    nav a {
        display: block;
        margin: 10px 0;
    }
}
